<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body  >


  <nav  class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>



    <center>
<div class="header">
  <h2>EPIKO-REGAL BLOG</h2>
</div>



<div class="row">
  <div class="leftcolumn">
    <div>
        <label ><strong>Header :</strong></label>
        <h3>The Epiko-Regale Game</h3>
        
        <label><strong>Image :</strong></label><br>
      <img src="\static\img4.webp" width="250" height="250"></img><br><br>
      <label><strong>Description :</strong></label>
      <p>lkhdhfgsghhhhhhhdfffkflkdfj;fj;slfj;lfj;lfjfjjfj</p>
     <br>
      <label><strong>Article :</strong></label>
      <p>Epiko is a blockchain and gaming-based project developed by Wharf Street Studios Limited, incorporated in London. 
        It aims to introduce Games</p>
     
    </div>
    </div>
  </div>
</div>
</center>

<br> 
<center>
<div class="bg-white">
  <div >
    <i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span>
    <i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span>
    <i class="fa fa-share"></i><span class="ml-1">Share</span>
  </div>

<br>
  <center>
<div >
<button type="button" class="btn btn-primary">ADD NEW</button>
</div>
<br>
<center>
<div>
  <a href="#" class="previous">&laquo; Previous</a>
  <br><br>
<a href="#" class="next">Next &raquo;</a>
</div>
</center>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>

